[Desktop Entry]
Version=1.0
Name=todo
Comment=simple rofi todo script
Exec=/home/ghost/.scripts/todo.sh
Icon=/home/ghost/dl/todo.png
Terminal=false
Type=Application
Categories=Application;
